{% extends 'layout.html' %}
{% block content %}

<style>
    .prose ul>li {
    padding-left: 0 !important;
    }
    .prose ul>li::before {
        content: "";
        position: absolute;
        border-radius: 0%;
        width: .0em;
        height: 0em;
        left: 0em;
    }
</style>

<!-- CONTENT HERE -->
<section>
    <h2 class="capitalize">blog</h2>

    <ul class="list-none">
        {% for post in posts %}
        <li class="list-none">
            <div class="flex flex-col">
                <a href="{{url_for('post', slug=post.slug)}}" class="font-bold prose">
                    <h3>{{ post.title }}</h3>
                </a>
                <span class="text-sm">Posted: {{ post.date | datetime }}</span>
                <div>
                    <p>{{ post.content | markdown | truncate(170)}}</p>
                </div>                
            </div>
        </li>
        {% endfor %}
    </ul>
</section>




{% endblock content %}