{% extends 'layout.html' %}
{% block content %}

<!-- CONTENT HERE -->
<section>
    <h2 class="capitalize">blog</h2>

    <ul class="list-none">
        {% for post in posts %}
        <li class="list-none">
            <div class="flex flex-col">
                <span class="text-sm">Posted: {{ post.date | datetime }}</span>
                <a href="{{url_for('post', slug=post.slug)}}" class="font-bold prose-lg">
                    <h3>{{ post.title }}</h3>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>




{% endblock content %}